{% extends "base.html" %}

{% block contents %}
<body class="quem-somos">

    <section>
        <h2>Quem somos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis suscipit, quis voluptates doloremque mollitia
            ullam ducimus maiores nisi debitis sit similique adipisci cumque minus nobis esse qui illo nihil A.</p>
    </section>
    <section>
        <h2>5 motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
    </section>
    <hr>
    <section>
        <h2>Objetivos</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, deleniti laudantium possimus ex iure
            numquam
            consequatur placeat, dolore earum corporis dolorem quas quos reiciendis repellendus
            optio dolores eum accusamus distinctio?</p>
    </section>

</body>
{% endblock %}