@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgray;
    color: #343434;  
}

.container {
    display: flex;
    justify-content: center;
}

header {
   background: #F7B610; 
   text-align: center;
   padding-bottom: 1rem;
}

.logo {
    margin-bottom: .5rem;
}

.logo span {
    color: aliceblue;
}

.navbar a {
    color: aliceblue;
    margin-right: .8rem;
}

.post {
    float: left; /* flutua à esquerda */
    width: 40%;
    overflow: auto; /* imagem não ultrapassa a div */
    padding: 0 1rem 1rem 0;
}

article {
    background-color: aliceblue;
    padding: 1rem;
    margin-top: 1rem;
}

article h3,
article a {
    color: #F7B610;
}

article span {
    font-size: .8rem;
}

article img {
    width: 100%;
    margin-top: 1rem;
}

.mais {
    float: right;
    width: 20%;
}

aside {
    background-color: aliceblue;
    padding: 1rem;
    margin-top: 1rem;
    overflow: auto;
}

aside h4 {
    background-color: rgb(177, 177, 177);
    padding: .3rem;
    overflow: auto;
}

aside a {
    color: #F7B610;
}

aside hr {
    color: rgb(177, 177, 177);
    margin: .3rem 0;
}

aside nav {
    display: flex;
    flex-direction: column;
}

footer {
   background-color: rgb(177, 177, 177);
   padding: .6rem;
   margin: 0 auto 1rem auto;
   width: 60%;
   text-align: center;
}

@media (max-width: 1000px) {
    .post {
        width: 75%;
    }

    footer {
        width: 95%;
    }
}