body {
    background-image: url(img/fundo2.png);
}

.home,
.contatos,
.quem-somos,
.mensagens {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    margin: 23px 0 23px 0;
}

.links {
    margin: 0 0 0 auto; 
}

.container {
    margin: auto;
    max-width: 66vw;
}

.capa {
    width: 100%;
}

.contatos form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contatos form .enviar {
    width: 50%;
    margin-top: 1rem;
}

.mensagens table {
    border-collapse: collapse;
    margin: 4rem auto 0 auto;
}

.mensagens table th,
.mensagens table td {
    border: 1px solid #343434;
    padding: .5rem;
}

footer{
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 810px) {
    .container {
        max-width: 80vw;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 40%;
    }

    .links {
        font-size: 10px;
    }

    .container {
        max-width: 100vw;
    }
}